<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/public/images/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="/public/css/choulouderen.css">
    <title>消息系统</title>
</head>
<body>
<span id="header"></span>
<section class="newSystem">
    <dl class="l">
        <dt class="sel"><span class="iconfont">&#xe63a;</span> 评论</dt>
        <dt><span class="iconfont">&#xe609;</span> 系统消息</dt>
    </dl>
    <div class="r">
        <ul class="list">
            <li>
                <div class="user">
                    <img src="/public/images/user_head_5d250303d8dd903a50551d55.jpg?versions=2019-7-11 21:10:03" alt="">
                    <p>夏日么么哒</p>
                </div> 
                <div class="cts">评论了你的 <a href=""> 《播报米克雅的额哈哈洗洗》 </a> </div>
            </li>
            <li>
                <div class="user">
                    <img src="/public/images/default_head.jpg" alt="">
                    <p>路小北</p>
                </div> 
                <div class="cts">评论了你的 <a href=""> 《有新的水电费水电费是的风口浪尖水电费水电费水电费》</a></div>
            </li>
            <li>
                <div class="user">
                    <img src="/public/images/default_head.jpg" alt="">
                    <p>路小北</p>
                </div>
                <div class="cts">评论了你的 <a href=""> 《好人一生平安啊》</a></div>
            </li>
            <li>
                <div class="user">
                    <img src="/public/images/user_head_5d250303d8dd903a50551d55.jpg?versions=2019-7-11 21:10:03" alt="">
                    <p>夏日么么哒</p>
                </div> 
                <div class="cts">评论了你的 <a href=""> 《播报米克雅的额哈哈洗洗》 </a> </div>
            </li>
            <li>
                <div class="user">
                    <img src="/public/images/default_head.jpg" alt="">
                    <p>路小北</p>
                </div> 
                <div class="cts">评论了你的 <a href=""> 《有新的水电费水电费是的风口浪尖水电费水电费水电费》</a></div>
            </li>
            <li>
                <div class="user">
                    <img src="/public/images/default_head.jpg" alt="">
                    <p>路小北</p>
                </div>
                <div class="cts">评论了你的 <a href=""> 《好人一生平安啊》</a></div>
            </li>
        </ul>
    </div>
</section>
<script src="/public/js/common.js"></script>
<script>
    window.onload = function(){
        /* 获取头部信息 */
        get_head_foot();
    }
</script>
</body>
</html>