<!DOCTYPE html>
<html lang="en" style="background: #fff">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/public/images/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="/public/css/choulouderen.css">
    <title>私有cdn</title>
</head>

<body>
    <span id="header"></span>
    <section class="cdn">
        <p class="zhyi">点击下载按钮，右键另保存，选择路径即可!!!!!!</p>
        <ul class="list no_style" onclick="copyFun()">
            <li>
                <h3>Jquery 版本集合</h3>
                <dl class="info">
                    <dt>
                        <input id="cdn_01" type="text" value="https://www.codels.cn/public_lib/jquery/jquery-1.11.3.min.js">
                        <em>
                            <button bind_id="cdn_01">复制</button>
                            <a target="_blank"  download="jquery-1.11.3.min.js" href="https://www.codels.cn/public_lib/jquery/jquery-1.11.3.min.js">下载</a>
                        </em>
                    </dt>
                    <dt>
                        <input id="cdn_02" type="text" value="https://www.codels.cn/public_lib/jquery/jquery-1.8.3.min.js">
                        <em>
                            <button bind_id="cdn_02">复制</button>
                            <a target="_blank"  download="jquery-1.8.3.min.js" href="https://www.codels.cn/public_lib/jquery/jquery-1.8.3.min.js">下载</a>
                        </em>
                    </dt>
                    <dt>
                        <input id="cdn_03" type="text" value="https://www.codels.cn/public_lib/jquery/jquery-1.9.1.min.js">
                        <em>
                            <button bind_id="cdn_03">复制</button>
                            <a target="_blank"  download="jquery-1.9.1.min.js" href="https://www.codels.cn/public_lib/jquery/jquery-1.9.1.min.js">下载</a>
                        </em>
                    </dt>
                    <dt>
                       <input id="cdn_04" type="text" value="https://www.codels.cn/public_lib/jquery/jquery-2.1.4.min.js">
                       <em>
                            <button bind_id="cdn_04">复制</button>
                            <a target="_blank"  download="jquery-2.1.4.min.js" href="https://www.codels.cn/public_lib/jquery/jquery-2.1.4.min.js">下载</a>
                        </em>
                    </dt>
                    <dt>
                        <input id="cdn_05" type="text" value="https://www.codels.cn/public_lib/jquery/jquery-3.1.1.min.js">
                        <em>
                            <button bind_id="cdn_05">复制</button>
                            <a target="_blank"  download="jquery-3.1.1.min.js" href="https://www.codels.cn/public_lib/jquery/jquery-3.1.1.min.js">下载</a>
                        </em>
                    </dt>
                </dl>
            </li>
            <li>
                <h3>SVG.js插件及依赖类库</h3>
                <dl class="info">
                    <dt>
                        <input id="cdn_06" type="text" value="https://www.codels.cn/public_lib/svg_draggable/svg.js">
                        <em>
                            <button bind_id="cdn_06">复制</button>
                            <a target="_blank"  download="svg.js" href="https://www.codels.cn/public_lib/svg_draggable/svg.js">下载</a>
                        </em>
                    </dt>
                    <dt>
                        <input id="cdn_07" type="text" value="https://www.codels.cn/public_lib/svg_draggable/svg.draggy.js">
                        <em>
                            <button bind_id="cdn_07">复制</button>
                            <a target="_blank"  download="svg.draggy.js" href="https://www.codels.cn/public_lib/svg_draggable/svg.draggy.js">下载</a>
                        </em>
                    </dt>
                    <dt>
                        <input id="cdn_08" type="text" value="https://www.codels.cn/public_lib/svg_draggable/svg.pan-zoom.js">
                        <em>
                            <button bind_id="cdn_08">复制</button>
                            <a target="_blank"  download="svg.pan-zoom.min.js" href="https://www.codels.cn/public_lib/svg_draggable/svg.pan-zoom.js">下载</a>
                        </em>
                    </dt>
                </dl>
            </li>
            <li>
                <h3>SVG动画类库</h3>
                <dl class="info">
                    <dt>
                        <input id="cdn_09" type="text" value="https://www.codels.cn/public_lib/svg_animate/vivus.js">
                        <em>
                            <button bind_id="cdn_09">复制</button>
                            <a target="_blank"  download="vivus.js.js" href="https://www.codels.cn/public_lib/svg_animate/vivus.js">下载</a>
                        </em>
                    </dt>
                </dl>
            </li>
            <li>
                <h3>树状图ztree.js类库 (依赖jquery)</h3>
                <dl class="info">
                    <dt>
                        <input id="cdn_10" type="text" value="https://www.codels.cn/public_lib/ztree/jquery.ztree.all.min.js">
                        <em>
                            <button bind_id="cdn_10">复制</button>
                            <a target="_blank"  download="vivus.js.js" href="https://www.codels.cn/public_lib/ztree/jquery.ztree.all.min.js">下载</a>
                        </em>
                    </dt>
                    <dt>
                        <input id="cdn_11" type="text" value="https://www.codels.cn/public_lib/ztree/jquery.ztree.exhide.min.js">
                        <em>
                            <button bind_id="cdn_11">复制</button>
                            <a target="_blank"  download="vivus.js.js" href="https://www.codels.cn/public_lib/ztree/jquery.ztree.exhide.min.js">下载</a>
                        </em>
                    </dt>
                </dl>
            </li>
        </ul>
    </section>
    <script src="/public/js/common.js"></script>
    <script>
        window.onload = function() {
            /* 显示头部和脚 */
            get_head_foot();
        }
        /* 复制粘贴 */
        function copyFun(){
            var tag = event.target.getAttribute("bind_id");
                console.log(tag)
                document.getElementById(tag).select();
                document.execCommand("Copy");
        }
    </script>
</body>

</html>