<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>密码找回</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
	<link rel="stylesheet" href="/public/css/common.css">
	<link rel="stylesheet" href="/public/css/blogls.m.css">
	<link rel="stylesheet" href="/public/font/iconfont.css">
	<style>html,body{height: 100%;overflow:hidden;}</style>
</head>
<body>
<section class="sign">
	<div class="logo"><img src="https://www.blogls.com/public/images/logo_m.png" alt=""></div>
	<ul class="list">
		<li>
			<p>注册邮箱</p>
			<em>
				<input type="text" placeholder="用于接收密码修改邮件">
			</em>
		</li>
	</ul>
	<div class="btn"><button>发送邮件</button></div>
	<div class="f">
		<a href="/view/main/login_m.html">登录</a>
	</div>
</section>
</body>
</html>