<!DOCTYPE html>
<html lang="en" style="background: #f8f8f8">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/public/images/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="/public/css/choulouderen.css">
    <title>找回密码</title>
</head>
<body>
<span id="header"></span>
<section class="sgin_box">
    <div class="sgin">
        <h1>找回密码</h1>
        <h1 class="message"  id="errMessage"></h1>
        <ul class="put">
            <li>
                <p>账号</p>
                <input type="text" id="username" placeholder="注册邮箱">
                <b><em></em></b>
            </li>
        </ul>
        <p class="tishi">确认以后，将会往注册的邮箱发送找回密码邮件</p>
        <button class="btn" onclick="retrieve()">找回</button>
    </div> 
</section>
<script src="/public/js/common.js"></script>    
<script>
    window.onload = function(){
        
        /* 显示头部和脚 */
        get_head_foot();

        var errMessage = document.getElementById("errMessage");
        /* 用户登录 */
        retrieve = function(){
            var data = {
                username:document.getElementById("username").value
            }
            $.ajax({
                url:"/api/post/retrieve",
                data:data,
                success:function(res){
                    console.log(res)
                    errMessage.innerHTML = res.message;
                }
            });
        }
    }
</script>
</body>
</html>