<!DOCTYPE html>
<html lang="en" style="background: #f8f8f8">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/public/images/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="/public/css/choulouderen.css">
    <title>社区管理规则</title>
</head>

<body>
    <span id="header"></span>
    <section class="rule">
        <p> 本站致力于打造一个优质内容创作社区。为了维护良好的社区氛围，本站制定如下社 区管理指导规则。希望所有用户能够自觉遵守以下社区指导规则，并互相监督。
        </p>

        <ul class="list">
            <li>
                <h3>1.违反国家相关法律规定内容：</h3>
                <p>发布违反国家相关法律法规及「七条底线」、「九不准」管理规定的信息，主要表现为：</p>
                <p>反对宪法所确定的基本原则</p>
                <p> 危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一</p>
                <p> 损害国家荣誉和利益</p>
                <p> 煽动民族仇恨、民族歧视，破坏民族团结</p>
                <p> 破坏国家宗教政策，宣扬邪教和封建迷信
                </p>
                <p> 散布谣言，扰乱社会秩序，破坏社会稳定</p>
                <p> 宣扬淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪</p>
                <p> 煽动非法集会、结社、游行、示威、聚众扰乱社会秩序</p>
                <p> 诽谤他人，泄露他人隐私，侵害他人合法权益</p>
                <p>含有法律、行政法规禁止的其他内容的信息</p>
            </li>
            <li>
                <h3>2.破坏社区秩序的不友善行为：</h3>
                <p>羞辱、谩骂、攻击本站用户的行为</p>
                <p>骚扰、恐吓、威胁、诽谤本站用户的行为</p>
                <p>恶意煽动本站用户攻击、羞辱或以其他不友善行为对待其他用户</p>
                <p>涉及民族、种族、宗教、性取向、性别、年龄、地域、生理特征等+ 身份或者归类而歧视、侮辱、攻击他人的行为</p>
                <p>泄露他人隐私，或者其他侵犯他人合法权益的行为</p>
                <p>其他对本站社区造成恶劣影响的行为</p>
            </li>
            <li>
                <h3> 3.发布垃圾广告信息，包括并不限于：</h3>
                <p> 通过添加超链接的方式，进行SEO优化推广</p>
                <p> 在图片中添加二维码、微信号、qq号、电话号、公众号等水印</p>
                <p> 发布文章中含有营销链接、二维码、qq号、微信号、电话号等联系方式 </p>
                <p>发布低质量投资类文章（包括但不限于原油、沥青、黄金、白银、现货等）</p>
                <p> 以评论或文章形式进行广告营销</p>
            </li>
            <li>
                <h3> 4.抄袭行为</h3>
                <p> 完全抄袭他人文章，或未注明来源转载他人文章</p>
                <p> 对他人的原创内容进行篡改、删减的抄袭行为</p>
                <p>其他恶意行为：滥用产品功能，进行破坏社区秩序以及影响用户体验的行为。主要表现为：</p>
                <p> 刷数据，有目的性的恶意刷赞、刷阅读量</p>
                <p> 诱导关注，通过发布评论、简信等相关形式引导关注</p>
                <p>制作及传播外挂或者用于操作帐号功能的恶意程序或相关教程</p>
                <p>发布含有潜在危险的内容，如钓鱼网站、木马、病毒网站等</p>
                <p> 利用头像以及个人简介等信息冒充他人</p>
               
            </li>
        </ul>
        <p> 违规行为处理办法 本站通过主动发现和接受用户举报两种方式发现社区 违规 行为。用户可以通过邮箱523705068@qq.com对涉嫌违规 的行为和用户 进行举报。违规的信息由本站根据本规定 视情节严重程度进行相关封号、 锁文、禁评论等相关处理。本站可以随社区管理经验的不断丰富，不断完善本规定。
        </p>
    </section>
    <script src="/public/js/common.js"></script>
    <script>
        window.onload = function() {
            /* 显示头部和脚 */
            get_head_foot();

        }
    </script>
</body>

</html>